html{
  min-height: 100%;
}

body{
  min-width: 300px;
  min-height: 620px;
  font-weight: 300;
  padding-bottom: 100px;
  background-color: #ebeff1;
}

#{headings()} {
  font-weight: 300;
}

input[type=search], input.search {
  padding-left: 26px;
  background-color:white;
  background:url(../img/search.png) 5px 5px no-repeat #fff;
}

hr{
  margin: 5px 0 10px;
}


//setting default iframe behaviour to border box
//so it behaves normally within .control-row
iframe{
  @include box-sizing(border-box);
}

//opera is buggy? no chrome is buggy! really strange fix
fieldset{
  width: 100%;
}