//Define our own and
//override default bootstrap properties

$lime:                  #8CBF26 !default;
$red:                   #e5603b !default;
$redDark:               #d04f4f !default;
$blue:                  #618fb0 !default;
$green:                 #56bc76 !default;
$orange:                #eac85e !default;
$pink:                  #E671B8 !default;
$purple:                #A700AE !default;
$brown:                 #A05000 !default;
$teal:                  #4ab0ce !default;
$gray:                  #666 !default;
$grayDark:              #555 !default;;
$lightGray:             #f8f8f8 !default;
$shadowGray:            #676767 !default;
$linkRed:               #da3712 !default;
$white:                 #ffffff !default;
$lightBlue:             #eff5ef !default;
$lightBrown:            #f5f2ee !default;
$lightRed:              #f8f3f0 !default;
$lightGreen:            #efffee !default;
$lightOrange:           #fff8e4 !default;

$widget-shadow: none;
$widget-border-radius: 3px;
$box-margin-bottom: 40px;

//fonts

$baseFontSize:          100% !default;
$baseLineHeight:        23px !default;