.terminal {
    background: #002B36;
    color: #DDD;
    white-space: pre-line;
    border-radius: 8px;
    width: 100%;
    padding:  0 0 0 10px;
}

.terminal table {
    margin-left: 10px;
    margin-right: 10px;
}

div.terminal td {
    vertical-align: top;
}

div.terminal pre {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

div.terminal pre span {
    padding: 0;
    margin: 0;
    display: block;
}

div.terminal {
    overflow-x: auto;
    overflow-y: hidden;
}

div.terminal span {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13pt;
    display: inline;
}

div.terminal span.command { color: #FFF; }
div.terminal span.output { color: #47646A; }