<section horizontal-ui-sheet class="qor-sheet-half">
    <header horizontal-ui-sheet-header title="Accounts">
    </header>
    <div horizontal-ui-sheet-content>
      <div class="list-group text-left ng-scope" ng-show="accounts">

        <ul>
          <li ng-repeat="account in accounts">
            <a class="list-group-item"
               ui-sref-active="active"
               ui-sref="app.manage.accounts.account({id : account.id})">
              Username: {{ account.primary.username }}
            </a>
            <p ng-show="account.primary.email">
              Email: {{ account.primary.email }}
            </p>
            <p ng-show="account.primary.phone">
              Phone: {{ account.primary.phone }}
            </p>
          </li>
        </ul>
        <button class="btn btn-warning" type="button" ng-click="newUser()">
          New User
        </button>
      </div>
      <div id="env-loader" ng-hide="accounts">
        <img src="assets/images/cube.gif">
      </div>
    </div>

</section>

