<div class="modal-header">
  <h3>Create new account</h3>
</div>
<div class="modal-body text-center">
  <ul class="nav nav-pills nav-pills-centered">
    <li role="presentation" class="active"><a data-toggle="tab" href="#google">Google</a></li>
    <li role="presentation"><a data-toggle="tab" href="#github">GitHub</a></li>
    <li role="presentation"><a data-toggle="tab" href="#email">E-mail</a></li>
  </ul>
  <hr/>
  <div class="tab-content">
    <div id="google" class="tab-pane fade in active">
      <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="vm.username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="email" class="form-control" ng-model="vm.email" placeholder="Google Email">
            </div>
        </div>
      </form>
    </div>
    <div id="github" class="tab-pane fade">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" ng-model="vm.username" placeholder="Username">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <input type="text" class="form-control" ng-model="vm.github_username" placeholder="GitHub Username">
          </div>
        </div>
      </form>
    </div>
    <div id="email" class="tab-pane fade">
      <form class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <input type="text" class="form-control" ng-model="vm.username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <input type="password" class="form-control" ng-model="vm.password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="custom_object" class="col-sm-2 control-label">Custom JSON</label>
            <div class="col-sm-10">
                <textarea id="custom_object" class="form-control" ng-model='vm.custom_object'></textarea>
            </div>
        </div>
      </form>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="vm.ok()">Yes</button>
  <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>

