<div class="modal-header">

</div>
<div class="modal-body text-center">
  <label for="username">Username</label>
  <input id="username" type='text' ng-model='username'></br>
  <label for="password">Password</label>
  <input id="password" type='text' ng-model='password'></br>
  <label for="custom_object">Custom_object</label>
  <textarea id="custom_object" type='text' ng-model='custom_object'></textarea>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Yes</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
