<section horizontal-ui-sheet class="qor-sheet-half">
    <header horizontal-ui-sheet-header title="Containers">
    </header>
    <div horizontal-ui-sheet-content>
        <h3 class="config-table-header">Containers</h3>

        <div class="btn-group pull-left">
            <div dropdown="" dropdown-append-to-body="" class="dropdown">
                <button class="btn btn-default config-table-header-button" dropdown-toggle=""
                        aria-haspopup="true" aria-expanded="false">Action<span
                        class="fa fa-angle-down pull-right"></span></button>
                <ul class="dropdown-menu"><!-- ngRepeat: version in instance.versions -->
                    <li><a ng-click="startAction()" >Start</a></li>
                    <li><a ng-click="stopAction()" >Stop</a></li>
                    <li><a ng-click="restartAction()" >Restart</a></li>
                    <li><a ng-click="killAction()" >Kill</a></li>
                    <li><a ng-click="pauseAction()" >Pause</a></li>
                    <li><a ng-click="unpauseAction()" >Unpause</a></li>
                    <li><a ng-click="removeAction()" >Remove</a></li>
                </ul>
            </div>
        </div>

        <div class="text-right containers-form">
            <input class="new-checkbox bordered" type="checkbox" ng-model="displayAll" id="displayAll" ng-change="toggleGetAll()"/><label for="displayAll"></label> <p>Display All</p>
            <input type="text" class="form-control" id="filter" placeholder="Filter" ng-model="filter"/> <label class="sr-only" for="filter">Filter</label>
        </div>

        <table class="table containers-table">
            <thead>
            <tr>
                <th><input class="new-checkbox bordered" id="header-checkbox" ng-model="toggle" ng-change="toggleSelectAll()" type="checkbox"><label for="header-checkbox"></label> ACTION</th>
                <th>NAME</th>
                <th>IMAGE</th>
                <th>COMMAND</th>
                <th>CREATED</th>
                <th>STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="container in containers | filter:filter | orderBy:predicate">
                <td class="center-text"><input class="new-checkbox bordered" id="check-{{container.Id}}" ng-model="container.Checked" type="checkbox"><label for="check-{{container.Id}}"></label></td>
                <td><a ui-sref="app.docker.domain.dockers.menu.containers.container({containerId: container.Id})">{{ container|containername}}</a></td>
                <td><a ui-sref="app.docker.domain.dockers.menu.images.image({imageId: container.Image})">{{ container.Image }}</a></td>
                <td>{{ container.Command|truncate:40 }}</td>
                <td>{{ container.Created|getdate }}</td>
                <td><span class="label label-{{ container.Status|statusbadge }}">{{ container.Status }}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
