<section horizontal-ui-sheet class="qor-sheet-full">
    <header horizontal-ui-sheet-header title="{{domain.name}} > {{service.service}} > Files">
    </header>
    <div horizontal-ui-sheet-content>
        <div class="editor-content">
            <div class="loading" ng-if="!values">Loading...</div>
            <div class="filled-content" ng-if="values">
                <h3 class="config-table-header">Configuration Files</h3>
                <table class="table table-bordered config-table">
                    <thead>
                    <tr>
                        <th>File</th>
                        <th>Path</th>
                        <th ng-repeat="instance in service.instances">{{instance}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="file in files">
                        <th>{{file.name}}</th>
                        <th>{{file.path}}</th>
                        <th ng-repeat="instance in service.instances">
                            <div class="btn-group version-select" role="group" aria-label="...">
                                <button ng-repeat="version in service.versions" type="button" class="btn btn-default" ng-click="showFile(file.path, instance, version); "
                                        ng-class="{'active': selectedFile['instance'] == instance && selectedFile['version'] == version && selectedFile['file_path'] == file.path}">{{version}} <span class="label label-success" ng-show="isLive(instance, version)">Live</span></button>
                            </div>
                        </th>
                        <th><div class="config-table-actions"><span ng-click="deleteFile(file.path)" class="fa fa-remove config-table-action-btn"> </span></div></th>
                    </tr>
                    </tbody>
                </table>
                <span ng-show="selectedFile.file_path" class="fa fa-save fa-inverse file-save-button" ng-click="saveFile()"></span>
                <ui-codemirror style="height: 500px;" ui-codemirror="{ onLoad : codemirrorLoaded }" ui-codemirror-opts="editorOptions" ng-model="fileData"></ui-codemirror>
            </div>
        </div>
    </div>
</section>