<section horizontal-ui-sheet class="qor-sheet-s">
    <header horizontal-ui-sheet-header title="Files">
    </header>
    <div horizontal-ui-sheet-content>
        <div class="list-group text-left ng-scope">
            <a class="list-group-item" ng-repeat="file in instance.objects | orderBy:''"
               ui-sref-active="active"
               ui-sref=".files-view({file: file})">
                {{file}}
            </a>
        </div>
        <div id="env-loader" ng-hide="instance || error">
            <img src="assets/images/cube.gif">
        </div>
        <div id="reload" ng-hide="!error">
          <a ui-sref="app.configurations.services.state.files" data-ui-sref-opts="{reload: true}">
            <i class="fa fa-refresh reload-button"></i>
          </a>
        </div>

        <div class="new-file-button">
            <button class="btn btn-warning" ng-click="openNewFileModal()" type="button">Add new</button>
        </div>
    </div>
</section>
