<ul class="timeline">
    <li class="on-left">
        <time class="event-time" datetime="2014-05-19 03:04">
            <span class="date">yesterday</span>
            <span class="time">8:03 <span class="fw-semi-bold">pm</span></span>
        </time>
                <span class="event-icon event-icon-success">
                    <i class="glyphicon glyphicon-map-marker"></i>
                </span>
        <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="demo/img/people/a2.jpg" alt="...">
                    </span>
            <h4 class="event-heading"><a href="#">Jessica Nilson</a> <small>@jess</small></h4>
            <p class="fs-sm text-muted">10:12 am - Publicly near Minsk</p>
            <div class="event-map" data-sn-gmap></div>
            <footer>
                <ul class="post-links">
                    <li><a href="#">1 hour</a></li>
                    <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                    <li><a href="#">Comment</a></li>
                </ul>
                <ul class="post-comments">
                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="demo/img/people/a2.jpg" alt="...">
                                </span>
                        <div class="comment-body">
                            <h6 class="author fw-semi-bold">Radrigo Gonzales <small>7 mins ago</small></h6>
                            <p>Someone said they were the best people out there just few years ago. Don't know
                                better options.</p>
                        </div>
                    </li>
                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="demo/img/people/a4.jpg" alt="...">
                                </span>
                        <div class="comment-body">
                            <h6 class="author fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
                            <p>True. Heard absolutely the same.</p>
                        </div>
                    </li>
                    <li>
                                <span class="thumb-xs avatar pull-left mr-sm">
                                    <img class="img-circle" src="img/avatar.png" alt="...">
                                </span>
                        <div class="comment-body">
                            <input class="form-control input-sm" type="text" placeholder="Write your comment...">
                        </div>
                    </li>
                </ul>
            </footer>
        </section>
    </li>
    <li>
        <time class="event-time" datetime="2014-05-19 03:04">
            <span class="date">today</span>
            <span class="time">9:41 <span class="fw-semi-bold">am</span></span>
        </time>
                <span class="event-icon event-icon-primary">
                    <i class="glyphicon glyphicon-comment"></i>
                </span>
        <section class="event">
                    <span class="thumb-sm avatar pull-left mr-sm">
                        <img class="img-circle" src="demo/img/people/a5.jpg" alt="...">
                    </span>
            <h4 class="event-heading"><a href="#">Bob Nilson</a> <small><a href="#">@nils</a></small></h4>
            <p class="fs-sm text-muted">February 22, 2014 at 01:59 PM</p>
            <p class="fs-mini">
                There is no such thing as maturity. There is instead an ever-evolving process of maturing.
                Because when there is a maturity, there is ...
            </p>
            <footer>
                <ul class="post-links">
                    <li><a href="#">1 hour</a></li>
                    <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
                    <li><a href="#">Comment</a></li>
                </ul>
            </footer>
        </section>
    </li>
</ul>