<div id="timeline" style="height: 600px; overflow-y: auto; " >
    <ul class="timeline" style="padding: 10px; margin-bottom: 0px;" ng-controller="LiveTimelineController">
        <li class="on-left" ng-repeat="event in events" id="li-{{event.id}}">
            <time class="event-time" datetime="{{::event.timestamp}}">
                <span class="date">{{::event.timestamp | date: 'EEE'}}</span>
                <span class="time">{{::event.timestamp | date: 'shortTime'}}</span>
            </time>
                    <span class="event-icon {{ event.event_icon_class}}">
                        <i class="glyphicon glyphicon-comment"></i>
                    </span>
            <section class="event">
                <h4 class="event-heading"><a ng-click="openTerminal(event.title)" href="#">{{event.title}}</a></h4>
                <p class="fs-sm text-muted">{{::event.timestamp | date:'fullDate'}}</p>
                <p class="fs-mini">
                    {{::event.text}}
                </p>
                <footer>
                    <ul class="post-links">
                        <li><a href="#" data-original="{{::event.timestamp}}">{{::event.timestamp | relativeDate }}</a></li>
                    </ul>
                </footer>
            </section>
        </li>
    </ul>
</div>