<ol class="breadcrumb">
    <li>YOU ARE HERE</li>
    <li class="active">UI Buttons</li>
</ol>
<h1 class="page-title">Buttons - <span class="fw-semi-bold">Styles</span></h1>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Color <span class="fw-semi-bold">Options</span>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p class="fs-mini text-muted">
                    Use any of the available button classes to quickly create a styled button.
                    Semantically distinguishable beauty.
                </p>
                <p class="text-align-center">
                    <button class="btn btn-default width-100 mb-xs" role="button">
                        Default
                    </button>
                    <button class="btn btn-primary width-100 mb-xs" role="button">
                        Primary
                    </button>
                    <button class="btn btn-info width-100 mb-xs" role="button">
                        Info
                    </button>
                    <button class="btn btn-success width-100 mb-xs" role="button">
                        Success
                    </button>
                    <button class="btn btn-warning width-100 mb-xs" role="button">
                        Warning
                    </button>
                    <button class="btn btn-danger width-100 mb-xs" role="button">
                        Danger
                    </button>
                    <button class="btn btn-gray width-100 mb-xs" role="button">
                        Gray
                    </button>
                    <button class="btn btn-inverse width-100 mb-xs" role="button">
                        Inverse
                    </button>
                </p>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Size <span class="fw-semi-bold">Variants</span>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p class="fs-mini text-muted">
                    Fancy larger or smaller buttons? Four separate sizes available for all use cases: from
                    tiny 10px button to large one.
                </p>
                <p class="mb-xs">
                    <button type="button" class="btn btn-primary btn-lg mb-xs">Large button</button>
                    <button type="button" class="btn btn-default btn-lg mb-xs">Large button</button>
                </p>
                <p class="mb-xs">
                    <button type="button" class="btn btn-primary mb-xs">Default button</button>
                    <button type="button" class="btn btn-default mb-xs">Default button</button>
                </p>
                <p class="mb-xs">
                    <button type="button" class="btn btn-primary btn-sm mb-xs">Small button</button>
                    <button type="button" class="btn btn-default btn-sm mb-xs">Small button</button>
                </p>
                <p class="mb-xs">
                    <button type="button" class="btn btn-primary btn-xs mb-xs">Tiny button</button>
                    <button type="button" class="btn btn-default btn-xs mb-xs">Tiny button</button>
                </p>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Block <span class="fw-semi-bold">Buttons</span>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p class="fs-mini text-muted">
                    Create block level buttons - those that span the full width
                    of a parent— by adding <code>.btn-block</code>.
                    Great for menu & social buttons.
                </p>
                <p>
                    <button type="button" class="btn btn-info btn-block">Block Button</button>
                </p>
                <p>
                    <button type="button" class="btn btn-default btn-block">Show Menu &nbsp;&nbsp;&nbsp;<i class="fa fa-bars"></i></button>
                </p>
                <p>
                    <button type="button" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Login mit Facebook</button>
                </p>
                <p>
                    <button type="button" class="btn btn-warning btn-block">Are you sure?</button>
                </p>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Disabled <span class="fw-semi-bold">Buttons</span>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p class="fs-mini text-muted">
                    Make buttons look unclickable by fading them back 50%.
                    Add the <code>.disabled</code> class to <code>&lt;a&gt;</code> buttons.
                </p>
                <p>
                    <button type="button" class="btn btn-primary" disabled="disabled">Primary button</button>
                    <button type="button" class="btn btn-default" disabled="disabled">Button</button>
                </p>
                <p>
                    <a href="#" class="btn btn-success btn-sm disabled" role="button">Primary link</a>
                    <a href="#" class="btn btn-default btn-sm disabled" role="button">Link</a>
                </p>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Button <span class="fw-semi-bold">Groups</span>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p class="fs-mini text-muted">
                    Group a series of buttons together on a single line with the button group.
                    Add on optional JavaScript radio and checkbox style behavior with Bootstrap buttons plugin.
                </p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default">Left</button>
                    <button type="button" class="btn btn-default">Middle</button>
                    <button type="button" class="btn btn-default">Right</button>
                </div>
                <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">1</button>
                        <button type="button" class="btn btn-default">2</button>
                        <button type="button" class="btn btn-default">3</button>
                        <button type="button" class="btn btn-default">4</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">5</button>
                        <button type="button" class="btn btn-default">6</button>
                        <button type="button" class="btn btn-default">7</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default">8</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="col-lg-4 col-md-6">
        <section class="widget">
            <header>
                <h4>
                    Button <span class="fw-semi-bold">Dropdowns</span>
                </h4>
                <div class="widget-controls">
                    <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                    <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </header>
            <div class="widget-body">
                <p class="fs-mini text-muted">
                    Add dropdown menus to nearly anything with this simple plugin, including the buttons,
                    navbar, tabs, and pills.
                    Both solid & segmented dropdown options available.
                </p>
                <div class="mb-sm">
                    <div class="btn-group" data-dropdown>
                        <button class="btn btn-danger dropdown-toggle" data-dropdown-toggle data-original-title="" title="">
                            &nbsp; One &nbsp;
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" data-dropdown>
                        <button class="btn btn-gray btn-sm dropdown-toggle" data-dropdown-toggle data-original-title="" title="">
                            &nbsp; One &nbsp;
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="btn-group" data-dropdown>
                        <button class="btn btn-default" data-original-title="" title="">Gray</button>
                        <button class="btn btn-default dropdown-toggle" data-dropdown-toggle data-original-title="" title="">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group" data-dropdown>
                        <button class="btn btn-gray btn-sm" data-original-title="" title="">Gray</button>
                        <button class="btn btn-gray btn-sm dropdown-toggle" data-dropdown-toggle data-original-title="" title="">
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<section class="widget">
    <header>
        <h5>
            Button <span class="fw-semi-bold">Options</span>
        </h5>
        <div class="widget-controls">
            <a data-widgster="expand" title="Expand" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="widget-body">
        <div class="row">
            <div class="col-lg-4">
                <h3>
                    Button <span class="fw-semi-bold">Checkboxes</span>
                </h3>
                <p class="fs-mini text-muted">
                    Do more with buttons. Control button states or create groups of buttons for more components like toolbars.
                    Add <code>data-toggle="buttons"</code> to a group of checkboxes for checkbox style toggling on btn-group.
                </p>
                <div class="mb-sm">
                    <div class="btn-group" data-ng-init="checkboxModel = { left: false, middle: true, right: false }">
                        <label class="btn btn-gray" data-btn-checkbox data-ng-model="checkboxModel.left">
                            Left way
                        </label>
                        <label class="btn btn-gray" data-btn-checkbox data-ng-model="checkboxModel.middle">
                            Middle way
                        </label>
                        <label class="btn btn-gray" data-btn-checkbox data-ng-model="checkboxModel.right">
                            Right way
                        </label>
                    </div>
                </div>
                <div class="mb-sm">
                    <div class="btn-group btn-group-sm" data-ng-init="checkbox2Model = { left: false, middle: false, right: false }">
                        <label class="btn btn-default" data-btn-checkbox data-ng-model="checkbox2Model.left">
                            Left way
                        </label>
                        <label class="btn btn-default" data-btn-checkbox data-ng-model="checkbox2Model.middle">
                            Middle way
                        </label>
                        <label class="btn btn-default" data-btn-checkbox data-ng-model="checkbox2Model.right">
                            Right way
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h3>
                    Button <span class="fw-semi-bold">Radios</span>
                </h3>
                <p class="fs-mini text-muted">
                    Do more with buttons. Control button states or create groups of buttons for more components like toolbars.
                    Add <code>data-toggle="buttons"</code> to a group of radio inputs for radio style toggling on btn-group.
                </p>
                <div class="mb-sm">
                    <div class="btn-group" data-ng-init="radioModel = 'Middle'">
                        <label class="btn btn-gray" data-btn-radio="'Left'" data-ng-model="radioModel">
                            Left way
                        </label>
                        <label class="btn btn-gray" data-btn-radio="'Middle'" data-ng-model="radioModel">
                            Middle way
                        </label>
                        <label class="btn btn-gray" data-btn-radio="'Right'" data-ng-model="radioModel">
                            Right way
                        </label>
                    </div>
                </div>
                <div class="mb-sm">
                    <div class="btn-group btn-group-sm">
                        <label class="btn btn-gray" data-btn-radio="'Left'" data-ng-model="radio2Model">
                            Left way
                        </label>
                        <label class="btn btn-gray" data-btn-radio="'Middle'" data-ng-model="radio2Model">
                            Middle way
                        </label>
                        <label class="btn btn-gray" data-btn-radio="'Right'" data-ng-model="radio2Model">
                            Right way
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h3>
                    Use with <span class="fw-semi-bold">Icons</span>
                </h3>
                <p class="fs-mini text-muted">
                    Fontawesome and Glyph- icons may be used in buttons, button groups for a toolbar, navigation, or prepended form inputs.
                    Let your buttons shine!
                </p>
                <p class="text-align-center">
                    <button class="btn btn-default width-100 mb-xs" role="button">
                        <i class="glyphicon glyphicon-tree-conifer text-success"></i>
                        Forest
                    </button>
                    <button class="btn btn-default width-100 mb-xs" role="button">
                        <i class="fa fa-check text-danger"></i>
                        Submit
                    </button>
                    <button class="btn btn-default width-100 mb-xs" role="button">
                        <i class="fa fa-facebook text-primary"></i>
                        Login
                    </button>
                </p>
                <p class="text-align-center">
                    <button class="btn btn-inverse width-100 mb-xs" role="button">
                        <i class="fa fa-exclamation text-warning"></i>
                        Error
                    </button>
                    <button class="btn btn-inverse width-100 mb-xs" role="button">
                        <i class="glyphicon glyphicon-globe text-info"></i>
                        <span class="text-info">Globe</span>
                    </button>
                    <button class="btn btn-inverse width-100 mb-xs" role="button">
                                <span class="circle bg-white">
                                    <i class="fa fa-map-marker text-gray"></i>
                                </span>
                        Map
                    </button>
                </p>
            </div>
        </div>
    </div>
</section>