
<ol class="breadcrumb">
    <li>YOU ARE HERE</li>
    <li class="active">UI Tabs & Accordion</li>
</ol>
<h1 class="page-title">Tabs & Accordion - <span class="fw-semi-bold">Components</span></h1>
<div class="row mb-lg">
    <div class="col-md-6">
        <div class="clearfix">
            <ul id="tabs1" class="nav nav-tabs pull-left"> <!-- remove pull-left to get a cool effect too -->
                <li class="active"><a data-target="#tab1" data-toggle="tab">Basic</a></li>
                <li class=""><a data-target="#tab2" data-toggle="tab">Assumtion</a></li>
                <li class="dropdown" data-dropdown data-ng-init="isOpen = false;" data-is-open="isOpen">
                    <a href class="dropdown-toggle" data-dropdown-toggle>Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class=""><a data-target="#tab3" href tabindex="-1" data-toggle="tab" ng-click="isOpen = false">@fat</a></li>
                        <li class=""><a data-target="#tab4" href tabindex="-1" data-toggle="tab" ng-click="isOpen = false">@mdo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="tabs1c" class="tab-content mb-lg">
            <div class="tab-pane active clearfix" id="tab1">
                <h2>Tabs-enabled widget</h2>
                <p>You will never know exactly how something will go until you try it.</p>
                <p>You can think three hundred times and still have no precise result. If you see
                    attractive girl all you need to do is to go and ask her to give you her phone. You don’t
                    need to think about HOW it can turn out. All you have to do is to GO and DO IT. It
                    should be super-fast and easy. No hesitation. You ask me: “What to do with these
                    fearful thoughts preventing me from doing that?” The answer is to ignore them, because
                    they can’t disappear immediately.</p>
                <p>The same thing is for startups and ideas. If you have an idea right away after it appears in your mind you should go and make a first step to implement it. </p>
                <div class="pull-right">
                    <button class="btn btn-inverse">Cancel</button>
                    <button class="btn btn-primary">Some button</button>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
                    point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if text is lore ipsum.</p>
                <div class="clearfix">
                    <div class="btn-toolbar">
                        <a class="btn btn-default" href="#">&nbsp;&nbsp;Check&nbsp;&nbsp;</a>
                        <a class="btn btn-primary" href="#">&nbsp;&nbsp;Dance?&nbsp;&nbsp;</a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab3">
                <p> If you will think too much it will sink in the swamp of never implemented plans and
                    ideas or will just go away or will be implemented by someone else.</p>
                <p><strong>5 months of doing everything to achieve nothing.</strong></p>
                <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one?</p>
            </div>
            <div class="tab-pane" id="tab4">
                <blockquote class="blockquote-sm mb-xs">
                    Plan it? Make it!
                </blockquote>
                <p>The same thing is for startups and ideas. If you have an idea right away after it appears
                    in your mind you should go and make a first step to implement it.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tabbable tabs-left mb-lg">
            <ul id="tabs2" class="nav nav-tabs">
                <li class=""><a data-target="#tab12" data-toggle="tab">Basic</a></li>
                <li class="active"><a data-target="#tab22" data-toggle="tab">Assumtion</a></li>
                <li class=""><a data-target="#tab32"  data-toggle="tab">Works</a></li>
            </ul>
            <div id="tabs2c" class="tab-content">
                <div class="tab-pane" id="tab12">
                    <p>
                        I had an idea named Great Work. It was a service aimed to help people find their passion.
                        Yes I know it sound crazy and super naïve but I worked on that. I started to work on
                        planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
                        I worked on everything but not the project itself.
                    </p>
                </div>
                <div class="tab-pane active" id="tab22">
                    <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
                        point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if text is lore ipsum.</p>
                    <div class="clearfix">
                        <div class="btn-toolbar">
                            <a class="btn btn-danger" href="#">&nbsp;&nbsp;Check&nbsp;&nbsp;</a>
                            <a class="btn btn-default" href="#">&nbsp;&nbsp;Dance?&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab32">
                    <p> If you will think too much it will sink in the swamp of never implemented plans and
                        ideas or will just go away or will be implemented by someone else.</p>
                    <p><strong>5 months of doing everything to achieve nothing.</strong></p>
                    <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="tabbable tabs-right">
            <ul id="tabs3" class="nav nav-tabs">
                <li class=""><a data-target="#tab13" data-toggle="tab">Basic</a></li>
                <li class=""><a data-target="#tab23" data-toggle="tab">Assumtion</a></li>
                <li class="active"><a data-target="#tab33"  data-toggle="tab">Works</a></li>
            </ul>
            <div id="tabs3c" class="tab-content">
                <div class="tab-pane" id="tab13">
                    <p>
                        I had an idea named Great Work. It was a service aimed to help people find their passion.
                        Yes I know it sound crazy and super naïve but I worked on that. I started to work on
                        planning, graphics, presentations, pictures, descriptions, articles, investments and so on.
                        I worked on everything but not the project itself.
                    </p>
                </div>
                <div class="tab-pane" id="tab23">
                    <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial
                        point. I think the opposite actually. Everyone knows what is lore ipsum - it is easy to understand if text is lore ipsum.</p>
                    <div class="clearfix">
                        <div class="btn-toolbar">
                            <a class="btn btn-primary" href="#">&nbsp;&nbsp;Check&nbsp;&nbsp;</a>
                            <a class="btn btn-default" href="#">&nbsp;&nbsp;Dance?&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" id="tab33">
                    <p> If you will think too much it will sink in the swamp of never implemented plans and
                        ideas or will just go away or will be implemented by someone else.</p>
                    <p><strong>5 months of doing everything to achieve nothing.</strong></p>
                    <p>You'll automatically skip - because you know - it's just non-informative stub. But what if there some text like this one?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel-group mb-lg" id="accordion" data-toggle="collapse">
            <div class="panel panel-default">
                <div class="panel-heading collapsed">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                            Collapsible Group Item
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        Get base styles and flexible support for collapsible components like accordions and navigation.
                        Using the collapse plugin, we built a simple accordion by extending the panel component.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                            Random from the Web
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p><span class="fw-semi-bold">Light Blue</span> - is a next generation admin template based on the latest Metro design. There are few reasons we want to tell you, why we have created it: We didn't like the darkness of most of admin templates, so we created this light one. We didn't like the high contrast of most of admin templates, so we created this unobtrusive one. We searched for a
                            solution of how to make widgets look like real widgets, so we decided that deep background - is what makes widgets look real.
                        </p>
                        <p class="no-margin text-muted"><em>- Some One</em></p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                            Check It
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial point. I think the opposite actually.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel-group mb-lg" id="accordion2" data-toggle="collapse">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion2" data-target="#collapseOne2">
                            Collapsible Group Item
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseOne2" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Get base styles and flexible support for collapsible components like accordions and navigation.
                        Using the collapse plugin, we built a simple accordion by extending the panel component.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading collapsed">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseTwo2">
                            Normal Text Insertion
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very
                            controversial point. I think the opposite actually. Everyone knows what is lore ipsum
                            - it is easy to understand if text is lore ipsum. You'll automatically skip -
                            because you know - it's just non-informative stub. But what if there some text like
                            this one? You start to read it! But the goal of this text is different. The goal is
                            the example. So a bit of Lore Ipsum is always very good practice. Keep it in mind!</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" data-target="#collapseThree2">
                            Check It
                            <i class="fa fa-angle-down pull-right"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseThree2" class="panel-collapse collapse">
                    <div class="panel-body">
                        Why don't use Lore Ipsum? I think if some one says don't use lore ipsum it's very controversial point. I think the opposite actually.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>