// network visualization
.network {
  text {
    pointer-events: none;
  }

  .grandparent text {
    fill: #fff;
  }

  rect {
    fill: none;
  }

  rect.parent,
  .grandparent rect {
    stroke-width: 0;
  }

  .grandparent rect {
    fill: $gray;
  }

  .grandparent:hover rect {
    fill: $gray-dark;
  }

  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }

  .children rect.parent,
  rect.child{
    fill: #bbb;
    fill-opacity: .2;
    stroke-width: 1px;
    stroke: #aaa;
  }

  .children:hover rect.child {
    fill: lighten($brand-warning, 7%);
  }
}

.network-svg {
  background-color: rgba(#bbb, .2);
  border: 1px solid #aaa;
  border-radius: 3px;
}

// other stuff
// todo sort out to sections
.domains-layout {
  top: $content-padding-top - 25px;
  left: 20px;
  overflow: hidden;
}

.network-layout {
  top: $content-padding-top - 40px;
  left: 5px;
  overflow: hidden;
}

.domains-layout .ui-layout-column {
  top: 0px;
}

#details {
  margin: 10px;
}

.domain-stat section {
  margin-bottom: 0px;
}

.modal-open .domains-layout {
  top: $content-padding-top + 60px;
  left: 70px;
  overflow: hidden;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
