// network visualization
.network {
  text {
    pointer-events: none;
    @include transition(fill .1s ease);
  }

  .child-text {
    fill: #fff;
    font-weight: 600;
  }

  .grandparent {
    height: 30px;
    margin: 0;
    padding: 0 20px;
    line-height: 30px;
    position: absolute;
    top: 8px;
    left: 100px;
    z-index: 1;
    border-radius: 3px 3px 0 0;

    > li > a {
      color: $text-color;
      font-weight: $font-weight-semi-bold;
    }

    > li + li:before {
      color: $text-color;
      content: '>';
    }
  }

  rect {
    fill: none;
    pointer-events: all;
  }

  rect.parent {
    stroke-width: 0;
  }

  .children rect {
    cursor: pointer;
  }

  .children rect.parent,
  rect.child {
    @include transition(fill .1s ease, fill-opacity .1s ease);
    stroke-width: 1px;
    stroke: #aaa;

    &:hover {
      fill-opacity: .7;
    }
  }

  .children rect.parent {
    fill: #fff;
  }

  rect.child {
    fill: #7986CB;
    fill-opacity: .6;
  }

  .placeholder,
  .placeholder rect.parent,
  .placeholder rect.child,
  rect.child.placeholder {
    stroke: none;
    fill: none;
    fill-opacity: 0;
  }
}

.network-svg {
}

// other stuff
// todo sort out to sections
.domains-layout {
  top: $content-padding-top - 40px;
  left: 20px;
  overflow: hidden;
}

.network-layout {
  top: $content-padding-top - 40px;
  left: 5px;
  overflow: hidden;
}

.domains-layout .ui-layout-column {
  top: 0px;
}

#details {
  margin: 10px;
}

.domain-stat section {
  margin-bottom: 0px;
}

.modal-open .domains-layout {
  top: $content-padding-top + 60px;
  left: 70px;
  overflow: hidden;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}
