/***********************/
/*                     */
/*   Custom Widgets    */
/*                     */
/***********************/

$stat-purple-color: #D18CA5;
$stat-yellow-color: #F5C781;
$stat-green-color: #9DE0B5;
$stat-blue-color: #7986CB;

/***********************************/
/**             LOGIN             **/
/***********************************/

.login-page{
  background-color: $gray-semi-lighter;
}

.login-page .page-footer {
  margin-bottom: 30px;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
  @media (min-height: 600px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.widget-login-container{
  padding-top: 10%;
}

.widget-login-logo{
  margin-bottom: 15px;
  text-align: center;
  font-weight: $font-weight-normal;
  .fa-circle{
    font-size: 13px;
    margin: 0 20px;
  }
}

.widget-login{
  padding: 30px;

  > header{
    #{headings()}{
      font-weight: $font-weight-normal;
    }
  }
}

.widget-login-info{
  font-size: $font-size-mini;
  color: #B4B4B4;
  margin-top: 1px;
  margin-bottom: 0;
}

.widget-login-footer {
  margin-top: 20px;
}

.login-trouble {
  color: #EDA22D;
}

.login-page-footer {
  margin-top: 30px;
  color: #B4B4B4;
}

.login-form{
  .form-control{
    font-size: $font-size-mini;
    border: none;
    background-color: $gray-lighter;
    &:focus{
      background-color: $gray-semi-lighter;
    }
  }

  >.small-margin {
    margin-bottom: 10px;
  }
}

.login-toolbar {
  width: 100%;

  >.btn {
    border-radius: 0;
    font-size: $font-size-larger;
    color: #ffffff;
    font-weight: $font-weight-thin;
  }

  >.btn-login {
    width: 49%;
    background-color: #EDA22D;
    border-color: #EDA22D;
  }

  >.btn-signup {
    width: 46%;
    background-color: #B3B3B3;
    border-color: #B3B3B3;
  }
}

/***********************************/
/**           Time Line           **/
/***********************************/

.timeline{
  position: relative;
  min-height: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: -40px; /* content padding bottom */
  padding-bottom: 80px;

  > li {
    @include clearfix();

    + li{
      margin-top: 30px;
    }
  }

  /* the time line :) */
  &:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24%;
    width: 8px;
    content: " ";
    margin-left: -4px;
    background-color: $white;

    @media (min-width: $screen-md-min) {
      left: 14%;
    }
  }

}


.event{
  .timeline & {
    float: right;
    width: 68%;
    background: $white;
    border-radius: $border-radius-base;
    padding: 15px 20px 15px;
    position: relative;

    &:before{
      right: 100%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border: 10px solid rgba(0,0,0,0);
      border-right-color: $white;
      top: 15px;
    }

    > footer{
      margin: 20px -20px 0;
      padding: 10px 20px;
      border-bottom-left-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
      background-color: #f3f3f3;

      @include clearfix();

      .thumb{
        margin-left: 10px;
      }
    }

    .post-comments{
      margin-left: -20px;
      margin-right: -20px;
    }

    @media (min-width: $screen-md-min) {
      width: 82%;
    }
  }
}

.event-time{
  .timeline &{
    float: left;
    width: 18%;
    margin-top: 5px;
    text-align: right;

    > .date{
      display: block;
      font-size: $font-size-larger;
    }

    > .time{
      display: block;
      font-size: $font-size-large;
    }

    @media (min-width: $screen-md-min) {
      width: 10%;
    }
  }
}

.event-icon{
  .timeline &{
    position: absolute;
    left: 24%;
    width: 50px;
    height: 50px;
    line-height: 37px;
    margin-left: -25px;
    background-color: $white;
    border: 7px solid $white;
    border-radius: 50%;
    text-align: center;

    &.event-icon-danger{ background-color: $brand-danger; border-color: lighten($brand-danger, 7%)}
    &.event-icon-warning{ background-color: $brand-warning; border-color: lighten($brand-warning, 7%)}
    &.event-icon-success{ background-color: $brand-success; border-color: lighten($brand-success, 7%)}
    &.event-icon-info{ background-color: $brand-info; border-color: lighten($brand-info, 7%)}
    &.event-icon-primary{ background-color: $brand-primary; border-color: lighten($brand-primary, 7%)}

    &.event-icon-danger,
    &.event-icon-warning,
    &.event-icon-success,
    &.event-icon-info,
    &.event-icon-primary{
      color: $white;
    }

    @media (min-width: $screen-md-min) {
      left: 14%;
    }

    > img{
      width: 36px;
      height: 36px;
      margin-top: -4px;
    }
  }
}

.event-heading{
  margin: 0 0 2px;
  font-weight: $font-weight-normal;
  > a {
    text-decoration: none;
    color: #9E9E9E;
  }
  > small{
    font-weight: $font-weight-semi-bold;
    > a{
      text-decoration: none;
      color: $text-muted;
    }
  }
}

.event-map{
  height: 200px;
  margin: 0 -20px -20px;
  overflow: visible !important;
}

.event-image{
  margin: 0 -20px -20px;
  max-height: 260px;
  overflow: hidden;
  > img{
    max-width: 100%;
  }
}

/***********************************/
/**          ERROR PAGE           **/
/***********************************/

.error-page{
  background-color: $gray-semi-lighter;
}

.error-container{
  padding-top: 5%;
  text-align: center;

  > .btn{
    padding-left: 35px;
    padding-right: 35px;
  }
}

.error-code{
  font-size: 80px;
  font-weight: $font-weight-normal;
  color: $gray-dark;
  @media (min-width: $screen-sm-min) {
    font-size: 180px;
  }
}

.error-info{
  font-size: 20px;
  color: $gray-dark;
}

.error-help{
  font-size: 14px;
}

.error-page .page-footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
}

.widget-stat {
  border-radius: 0px;
  box-shadow: 0 0 5px;
  margin-left: 5px;

  &.purple {
    border-top: 10px solid $stat-purple-color;
  }

  &.yellow {
    border-top: 10px solid $stat-yellow-color;
  }

  &.green {
    border-top: 10px solid $stat-green-color;
  }

  &.blue {
    border-top: 10px solid $stat-blue-color;
  }
}

.tile-header {
  margin-top: 0px;
  margin-bottom: 5px;

  > .right {
    position: absolute;
    right: 10px;
    font-weight: $font-weight-thin;

    &.purple {
      color: $stat-purple-color;
    }

    &.yellow {
      color: $stat-yellow-color;
    }

    &.green {
      color: $stat-green-color;
    }

    &.blue {
      color: $stat-blue-color;
    }
  }
}

.stat-value {
  text-align: center;
  margin-top: 5px;
}

.domain-stat .bottom-row {
  margin-top: 10px;
}


.chart {
  display: block;
  margin-top: -20px;
}


.user-actions {

  position: fixed;
  left: 5px;
  bottom: 0;
  z-index: 999;

  vertical-align: middle;
  display: inline-block;

  visibility: hidden;
  opacity: 0.0;

  >.user-action {
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 5px;
    padding: 10px;
    width: 70px;
    text-align: center;
    cursor: pointer;

    color: $qor-sidebar-color;

    >div>i {
      font-size: 20px;
    }

    &:hover {
      background-color: $qor-sidebar-item-hover-bg-color;
    }
  }
}

.container-select {
  display: inline;

  >select {
    box-shadow: 0 0 3px;
    border: none;
    padding: 5px;
    color: $qor-sidebar-color;
    appearance: none;
    -webkit-apperance: none;
    -moz-apperance: none;
    background: url(../assets/images/select-arrow.png) 96% / 15% no-repeat #ffffff;
    min-width: 120px;
  }
}

.container-view {
  >.chart {
    margin-top: 20px;
  }
}