/***********************/
/*                     */
/*   Custom Widgets    */
/*                     */
/***********************/

$stat-purple-color: #D18CA5;
$stat-yellow-color: #F5C781;
$stat-green-color: #9DE0B5;
$stat-blue-color: #7986CB;

/***********************************/
/**             LOGIN             **/
/***********************************/

.login-page{
  background-color: $gray-semi-lighter;
}

.login-page .page-footer {
  margin-bottom: 30px;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
  @media (min-height: 600px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.widget-login-container{
  padding-top: 10%;
}

.widget-login-logo{
  margin-bottom: 15px;
  text-align: center;
  font-weight: $font-weight-normal;
  .fa-circle{
    font-size: 13px;
    margin: 0 20px;
  }
}

.widget-login{
  padding: 30px;

  > header{
    #{headings()}{
      font-weight: $font-weight-normal;
    }
  }
}

.widget-login-info{
  font-size: $font-size-mini;
  color: #B4B4B4;
  margin-top: 1px;
  margin-bottom: 0;
}

.widget-login-footer {
  margin-top: 20px;
}

.login-trouble {
  color: #EDA22D;
}

.login-page-footer {
  margin-top: 30px;
  color: #B4B4B4;
}

.login-form{
  .form-control{
    font-size: $font-size-mini;
    border: none;
    background-color: $gray-lighter;
    &:focus{
      background-color: $gray-semi-lighter;
    }
  }

  >.small-margin {
    margin-bottom: 10px;
  }
}

.login-toolbar {
  width: 100%;

  >.btn {
    border-radius: 0;
    font-size: $font-size-larger;
    color: #ffffff;
    font-weight: $font-weight-thin;
  }

  >.btn-login {
    width: 49%;
    background-color: #EDA22D;
    border-color: #EDA22D;
  }

  >.btn-signup {
    width: 46%;
    background-color: #B3B3B3;
    border-color: #B3B3B3;
  }
}

/***********************************/
/**           Time Line           **/
/***********************************/

.timeline{
  position: relative;
  min-height: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: -40px; /* content padding bottom */
  padding-bottom: 80px;

  > li {
    @include clearfix();

    + li{
      margin-top: 30px;
    }
  }

  /* the time line :) */
  &:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24%;
    width: 8px;
    content: " ";
    margin-left: -4px;
    background-color: $white;

    @media (min-width: $screen-md-min) {
      left: 14%;
    }
  }

}


.event{
  .timeline & {
    float: right;
    width: 68%;
    background: $white;
    border-radius: $border-radius-base;
    padding: 15px 20px 15px;
    position: relative;

    &:before{
      right: 100%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border: 10px solid rgba(0,0,0,0);
      border-right-color: $white;
      top: 15px;
    }

    > footer{
      margin: 20px -20px 0;
      padding: 10px 20px;
      border-bottom-left-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
      background-color: #f3f3f3;

      @include clearfix();

      .thumb{
        margin-left: 10px;
      }
    }

    .post-comments{
      margin-left: -20px;
      margin-right: -20px;
    }

    @media (min-width: $screen-md-min) {
      width: 82%;
    }
  }
}

.event-time{
  .timeline &{
    float: left;
    width: 18%;
    margin-top: 5px;
    text-align: right;

    > .date{
      display: block;
      font-size: $font-size-larger;
    }

    > .time{
      display: block;
      font-size: $font-size-large;
    }

    @media (min-width: $screen-md-min) {
      width: 10%;
    }
  }
}

.event-icon{
  .timeline &{
    position: absolute;
    left: 24%;
    width: 50px;
    height: 50px;
    line-height: 37px;
    margin-left: -25px;
    background-color: $white;
    border: 7px solid $white;
    border-radius: 50%;
    text-align: center;

    &.event-icon-danger{ background-color: $brand-danger; border-color: lighten($brand-danger, 7%)}
    &.event-icon-warning{ background-color: $brand-warning; border-color: lighten($brand-warning, 7%)}
    &.event-icon-success{ background-color: $brand-success; border-color: lighten($brand-success, 7%)}
    &.event-icon-info{ background-color: $brand-info; border-color: lighten($brand-info, 7%)}
    &.event-icon-primary{ background-color: $brand-primary; border-color: lighten($brand-primary, 7%)}

    &.event-icon-danger,
    &.event-icon-warning,
    &.event-icon-success,
    &.event-icon-info,
    &.event-icon-primary{
      color: $white;
    }

    @media (min-width: $screen-md-min) {
      left: 14%;
    }

    > img{
      width: 36px;
      height: 36px;
      margin-top: -4px;
    }
  }
}

.event-heading{
  margin: 0 0 2px;
  font-weight: $font-weight-normal;
  > a {
    text-decoration: none;
    color: #9E9E9E;
  }
  > small{
    font-weight: $font-weight-semi-bold;
    > a{
      text-decoration: none;
      color: $text-muted;
    }
  }
}

.event-map{
  height: 200px;
  margin: 0 -20px -20px;
  overflow: visible !important;
}

.event-image{
  margin: 0 -20px -20px;
  max-height: 260px;
  overflow: hidden;
  > img{
    max-width: 100%;
  }
}

/***********************************/
/**          ERROR PAGE           **/
/***********************************/

.error-page{
  background-color: $gray-semi-lighter;
}

.error-container{
  padding-top: 5%;
  text-align: center;

  > .btn{
    padding-left: 35px;
    padding-right: 35px;
  }
}

.error-code{
  font-size: 80px;
  font-weight: $font-weight-normal;
  color: $gray-dark;
  @media (min-width: $screen-sm-min) {
    font-size: 180px;
  }
}

.error-info{
  font-size: 20px;
  color: $gray-dark;
}

.error-help{
  font-size: 14px;
}

.error-page .page-footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
}

.widget-stat {
  border-radius: 0px;
  box-shadow: 0 0 5px;
  margin-left: 5px;

  &.purple {
    border-top: 10px solid $stat-purple-color;
  }

  &.yellow {
    border-top: 10px solid $stat-yellow-color;
  }

  &.green {
    border-top: 10px solid $stat-green-color;
  }

  &.blue {
    border-top: 10px solid $stat-blue-color;
  }
}

.widget-stat-details {
  border-radius: 0px;
  margin-left: 5px;
  padding: 0 0 5px 0;
  margin-top: 10px;

  >.row {
    margin: 0px;
  }

  &.purple {
    border-top: 5px solid $stat-purple-color;
  }

  &.yellow {
    border-top: 5px solid $stat-yellow-color;
  }

  &.green {
    border-top: 5px solid $stat-green-color;
  }

  &.blue {
    border-top: 5px solid $stat-blue-color;
  }

  &.black {
    border-top: 5px solid #757575;
  }
}

.widget-stat-little-block {
  text-align: center;

  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece;

  padding: 10px;

  &.no-left-border {
    border-left: none;
  }

  >h3 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  @media (max-width: 1800px) {
    >h3 {
      font-size: 15px;
    }
    >p {
      font-size: 12px;
    }
  }

  @media (max-width: 1300px) {
    >h3 {
      font-size: 14px;
    }
    >p {
      font-size: 11px;
    }
  }
}


.widget-stat-other-details {
  padding-top: 10px;

  >div>p {
    margin-bottom: 5px;
  }

  >div>.b {
    font-weight: 400;
    @media (max-width: 1800px) {
        font-size: 12px;
    }
    @media (max-width: 1300px) {
        font-size: 11px;
    }
  }

  >.right-text {
    text-align: right;

    @media (max-width: 1800px) {
      >p {
        font-size: 12px;
      }
    }
    @media (max-width: 1300px) {
      >p {
        font-size: 11px;
      }
    }
  }
}
.tile-header {
  margin-top: 0px;
  margin-bottom: 5px;

  > .right {
    position: absolute;
    right: 10px;
    font-weight: $font-weight-thin;

    &.purple {
      color: $stat-purple-color;
    }

    &.yellow {
      color: $stat-yellow-color;
    }

    &.green {
      color: $stat-green-color;
    }

    &.blue {
      color: $stat-blue-color;
    }
  }
}

.widget-caption {
  color: white;
  text-transform: uppercase;

  padding: 0 0 2px 10px;

  &.purple {
    background-color: $stat-purple-color;
  }

  &.yellow {
    background-color: $stat-yellow-color;
  }

  &.green {
    background-color: $stat-green-color;
  }

  &.blue {
    background-color: $stat-blue-color;
  }
}

.stat-value {
  text-align: center;
  margin-top: 5px;
}

.domain-stat .bottom-row {
  margin-top: 10px;
}

.domain-stat-details {
  >div {
    padding-left: 0px;
    margin-top: 10px;
  }
}

.chart {
  display: block;
  margin-top: -20px;
}


.user-actions {

  position: fixed;
  left: 5px;
  bottom: 0;
  z-index: 999;

  vertical-align: middle;
  display: inline-block;

  visibility: hidden;
  opacity: 0.0;

  >.user-action {
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 5px;
    padding: 10px;
    width: 70px;
    text-align: center;
    cursor: pointer;

    color: $qor-sidebar-color;

    >div>i {
      font-size: 20px;
    }

    &:hover {
      background-color: $qor-sidebar-item-hover-bg-color;
    }
  }
}

.container-select {
  display: inline;

  >select {
    box-shadow: 0 0 3px;
    border: none;
    padding: 5px;
    color: $qor-sidebar-color;
    appearance: none;
    -webkit-apperance: none;
    -moz-apperance: none;
    background: url(../assets/images/select-arrow.png) 96% / 15% no-repeat #ffffff;
    min-width: 120px;
  }
}

.container-view {
  >.chart {
    margin-top: 20px;
  }
}

.editor-content {
  >.loading {
    width: 100%;
    text-align: center;
  }
}

.config-table-action-btn {
  color: #ffffff;
  background-color: #cccccc;
  padding: 4px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 2px;
  cursor: pointer;

  &.active {
    background-color: #eea22d;
  }
}

.config-table-actions {
  display: inline;
  float: right;
}

.config-table-header {
  color: #eea22d;
  margin: 0px 0 20px 0;
}

.config-value {
  display: inline;
}

.config-input-edit {
  border: solid 1px #eea22d;
  padding: 3px;
  border-radius: 5px;

  &:focus, &.focus {
    box-shadow: none;
    outline: none;
  }
}

.navigation-details {
  float: right;
  display: inline;

  >span {
    background-color: #DBDBDB;
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
  }
}

.qor-btn-primary {
  background-color: #eea22d;
  color: #FFFFFF;
}

.config-switch-btn {
  position: absolute;
  top: $qor-header-height + 10;
  right: 20px;
}

.add-config-button {
  margin-top: -4px;
  float: right;
}

.save-config-button {
  margin-top: -4px;
}

.config-table-th {
  >.version-select {
    float: right;
  }

  >h4 {
    position: absolute;
    margin-top: 5px;
    display: inline;
  }
}

.file-save-button {
  position: absolute;
  right: 40px;
  z-index: 9;
  padding: 7px;
  font-size: 20px;
  cursor: pointer;
}


.orchestration-parameters {
  >fieldset {
    >.form-group {
      margin-bottom: 7px;

      >div>input[type="checkbox"] {
        display: none;

        + label {
          margin: 6px 0 6px 0;
          display:inline-block;
          width:19px;
          height:19px;
          vertical-align:middle;
          background:url(../assets/images/checkboxes.png) left top no-repeat;
          cursor: pointer;
        }

        &:checked + label {
          background:url(../assets/images/checkboxes.png) -19px top no-repeat;
        }
      }
    }
  }
}

.preloader-container {
  text-align: center;

  > img {
    margin-top: $line-height-computed;
    width: 50px;
    height: 50px;
  }
}

#env-loader {
  text-align: center;
}