/***********************/
/*                     */
/*   Custom Widgets    */
/*                     */
/***********************/

$stat-purple-color: #D18CA5;
$stat-yellow-color: #F5C781;
$stat-green-color: #9DE0B5;
$stat-blue-color: #7986CB;

/***********************************/
/**             LOGIN             **/
/***********************************/

.login-page {
  background-color: $gray-semi-lighter;
}

.login-page .page-footer {
  margin-bottom: 30px;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
  @media (min-height: 600px) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.center-vertical {
  @include vertical-align-center();
}

.widget-login-logo {
  margin-bottom: 15px;
  text-align: center;
  font-weight: $font-weight-normal;
  .fa-circle {
    font-size: 13px;
    margin: 0 20px;
  }
}

.widget-login {
  padding: 30px;

  > header {
    #{headings()} {
      font-weight: $font-weight-normal;
    }
  }
}

.widget-login-info {
  font-size: $font-size-mini;
  color: #B4B4B4;
  margin-top: 1px;
  margin-bottom: 0;
}

.widget-login-footer {
  margin-top: 20px;
}

.login-trouble {
  color: #EDA22D;
}

.login-page-footer {
  margin-top: 30px;
  color: #B4B4B4;
}

.login-form {
  .form-control {
    font-size: $font-size-mini;
    border: none;
    background-color: $gray-lighter;
    &:focus {
      background-color: $gray-semi-lighter;
    }
  }

  > .small-margin {
    margin-bottom: 10px;
  }
}

.login-toolbar {
  width: 100%;

  > .btn {
    border-radius: 0;
    font-size: $font-size-larger;
    color: #ffffff;
    font-weight: $font-weight-thin;
  }

  > .btn-login {
    width: 100%;
    background-color: #EDA22D;
    border-color: #EDA22D;
  }

  > .btn-signup {
    margin-top: 10px;
    width: 100%;
    background-color: #B3B3B3;
    border-color: #B3B3B3;

    >i {
      float: left;
      font-size: 21px;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
}

/***********************************/
/**           Time Line           **/
/***********************************/

.timeline {
  position: relative;
  min-height: 100%;
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
  margin-bottom: -40px; /* content padding bottom */
  padding-bottom: 80px;

  > li {
    @include clearfix();

    + li {
      margin-top: 30px;
    }
  }

  /* the time line :) */
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24%;
    width: 8px;
    content: " ";
    margin-left: -4px;
    background-color: $white;

    @media (min-width: $screen-md-min) {
      left: 14%;
    }
  }

  .margin-top-timeline & {
    margin-top: $line-height-computed;
  }

}

.event {

  border-top: 5px solid #8D93A1;

  &.fatal {
    border-top: 5px solid #DF5E59;
  }

  &.warning {
    border-top: 5px solid #F8C785;
  }

  .timeline & {
    float: right;
    width: 68%;
    background: $white;
    border-radius: $border-radius-base;
    padding: 15px 20px 15px;
    position: relative;

    &:before {
      right: 100%;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border: 10px solid rgba(0, 0, 0, 0);
      border-right-color: $white;
      top: 15px;
    }

    > footer {
      margin: 20px -20px 0;
      padding: 10px 20px;
      border-bottom-left-radius: $border-radius-base;
      border-bottom-right-radius: $border-radius-base;
      background-color: #f3f3f3;

      @include clearfix();

      .thumb {
        margin-left: 10px;
      }
    }

    .post-comments {
      margin-left: -20px;
      margin-right: -20px;
    }

    @media (min-width: $screen-md-min) {
      width: 82%;
    }
  }
}

.event-time {
  .timeline & {
    float: left;
    width: 18%;
    margin-top: 5px;
    text-align: right;

    > .date {
      display: block;
      font-size: $font-size-larger;
    }

    > .time {
      display: block;
      font-size: $font-size-large;
    }

    @media (min-width: $screen-md-min) {
      width: 10%;
    }
  }
}

.event-icon {
  .timeline & {
    position: absolute;
    left: 24%;
    width: 50px;
    height: 50px;
    line-height: 37px;
    margin-left: -25px;
    background-color: $white;
    border: 7px solid $white;
    border-radius: 50%;
    text-align: center;

    &.event-icon-danger {
      background-color: $brand-danger;
      border-color: lighten($brand-danger, 7%)
    }
    &.event-icon-warning {
      background-color: $brand-warning;
      border-color: lighten($brand-warning, 7%)
    }
    &.event-icon-success {
      background-color: $brand-success;
      border-color: lighten($brand-success, 7%)
    }
    &.event-icon-info {
      background-color: $brand-info;
      border-color: lighten($brand-info, 7%)
    }
    &.event-icon-primary {
      background-color: $brand-primary;
      border-color: lighten($brand-primary, 7%)
    }

    &.event-icon-danger,
    &.event-icon-warning,
    &.event-icon-success,
    &.event-icon-info,
    &.event-icon-primary {
      color: $white;
    }

    @media (min-width: $screen-md-min) {
      left: 14%;
    }

    > img {
      width: 36px;
      height: 36px;
      margin-top: -4px;
    }
  }
}

.event-heading {
  margin: 0 0 2px;
  font-weight: $font-weight-normal;
  > a {
    text-decoration: none;
    color: #9E9E9E;
  }
  > small {
    font-weight: $font-weight-semi-bold;
    > a {
      text-decoration: none;
      color: $text-muted;
    }
  }
}

.event-map {
  height: 200px;
  margin: 0 -20px -20px;
  overflow: visible !important;
}

.event-image {
  margin: 0 -20px -20px;
  max-height: 260px;
  overflow: hidden;
  > img {
    max-width: 100%;
  }
}

/***********************************/
/**          ERROR PAGE           **/
/***********************************/

.error-page {
  background-color: $gray-semi-lighter;
}

.error-container {
  padding-top: 5%;
  text-align: center;

  > .btn {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.error-code {
  font-size: 80px;
  font-weight: $font-weight-normal;
  color: $gray-dark;
  @media (min-width: $screen-sm-min) {
    font-size: 180px;
  }
}

.error-info {
  font-size: 20px;
  color: $gray-dark;
}

.error-help {
  font-size: 14px;
}

.error-page .page-footer {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  width: 100%;
  font-size: $font-size-mini;
  color: $text-muted;
  text-align: center;
}

.widget-stat {
  border-radius: 0px;
  box-shadow: 0 0 5px;
  margin-left: 5px;

  &.purple {
    border-top: 10px solid $stat-purple-color;
  }

  &.yellow {
    border-top: 10px solid $stat-yellow-color;
  }

  &.green {
    border-top: 10px solid $stat-green-color;
  }

  &.blue {
    border-top: 10px solid $stat-blue-color;
  }
}

.widget-stat-details {
  border-radius: 0px;
  margin-left: 5px;
  padding: 0 0 5px 0;
  margin-top: 10px;

  > .row {
    margin: 0px;
  }

  &.purple {
    border-top: 5px solid $stat-purple-color;
  }

  &.yellow {
    border-top: 5px solid $stat-yellow-color;
  }

  &.green {
    border-top: 5px solid $stat-green-color;
  }

  &.blue {
    border-top: 5px solid $stat-blue-color;
  }

  &.black {
    border-top: 5px solid #757575;
  }
}

.widget-stat-little-block {
  text-align: center;

  border-left: 1px solid #F0F0F0;
  border-bottom: 1px solid #F0F0F0;

  padding: 10px;

  &.no-left-border {
    border-left: none;
  }

  > h3 {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  @media (max-width: 1800px) {
    > h3 {
      font-size: 15px;
    }
    > p {
      font-size: 12px;
    }
  }

  @media (max-width: 1300px) {
    > h3 {
      font-size: 14px;
    }
    > p {
      font-size: 11px;
    }
  }
}

.widget-stat-other-details {
  padding-top: 10px;

  > div > p {
    margin-bottom: 5px;
  }

  > div > .b {
    font-weight: 400;
    @media (max-width: 1800px) {
      font-size: 12px;
    }
    @media (max-width: 1300px) {
      font-size: 11px;
    }
  }

  > .right-text {
    text-align: right;

    @media (max-width: 1800px) {
      > p {
        font-size: 12px;
      }
    }
    @media (max-width: 1300px) {
      > p {
        font-size: 11px;
      }
    }
  }
}

.tile-header {
  margin-top: 0px;
  margin-bottom: 5px;

  > .right {
    position: absolute;
    right: 10px;
    font-weight: $font-weight-thin;

    &.purple {
      color: $stat-purple-color;
    }

    &.yellow {
      color: $stat-yellow-color;
    }

    &.green {
      color: $stat-green-color;
    }

    &.blue {
      color: $stat-blue-color;
    }
  }
}

.widget-caption {
  color: white;
  text-transform: uppercase;

  padding: 0 0 2px 10px;

  &.purple {
    background-color: $stat-purple-color;
  }

  &.yellow {
    background-color: $stat-yellow-color;
  }

  &.green {
    background-color: $stat-green-color;
  }

  &.blue {
    background-color: $stat-blue-color;
  }
}

.stat-value {
  text-align: center;
  margin-top: 5px;
}

.domain-stat .bottom-row {
  margin-top: 10px;
}

.domain-stat-details {
  > div {
    padding-left: 0px;
    margin-top: 10px;
  }
}

.user-actions {

  position: fixed;
  left: 5px;
  bottom: 0;
  z-index: 999;

  vertical-align: middle;
  display: inline-block;

  visibility: hidden;
  opacity: 0.0;

  transition: all 100ms ease-in-out;

  > .user-action {
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    background-color: rgba(#ffffff,0);


    padding: 10px;
    width: 70px;
    text-align: center;
    cursor: pointer;

    color: $qor-sidebar-color;

    > div > i {
      font-size: 20px;
    }

    &:hover {
      background-color: $qor-sidebar-item-hover-bg-color;
    }
  }
}

.container-select {
  display: inline;

  > select {
    box-shadow: 0 0 3px;
    border: none;
    padding: 5px;
    color: $qor-select-color;
    appearance: none;
    -webkit-apperance: none;
    -moz-apperance: none;
    background: url(../assets/images/select-arrow.png) 96% / 15% no-repeat #ffffff;
    min-width: 120px;
  }
}

.container-view {
  > .chart {
    margin-top: 20px;
  }
}

.editor-content {
  > .loading {
    width: 100%;
    text-align: center;
  }
}

.config-table {
  width: 100%;

  >thead>th {
    text-align: left;
  }

  >tbody >tr >th {
    text-align: center;
    background-color: #FFFFFF;
    border: 2px solid #F0F0F0;
    font-weight: 400;

    &:first-child {
      font-weight: 600;
    }
  }

  table-layout: fixed;
}

.rox-40px {
  width: 40px;
}

.files-table {
  >thead>tr>th {
    text-align: center;
  }
}

.config-table-action-btn {
  color: #ffffff;
  background-color: #cccccc;
  padding: 4px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 2px;
  cursor: pointer;

  &.active {
    background-color: #eea22d;
  }
}

.config-table-actions {
  display: inline;
  float: right;
}

.config-table-header {
  color: #eea22d;
  margin: 0px 0 20px 0;
}

.config-value {
  display: inline;
}

.config-input-edit {
  border-bottom: solid 1px #eea22d;
  border-top: none;
  border-right: none;
  border-left: none;
  padding: 3px;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  min-height: 25px;

  width: 85%;

  &:focus, &.focus {
    box-shadow: none;
    outline: none;
  }
}

.config-input-span{
  display: inline-block;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.config-table {
  margin-bottom: 80px;

  width: 100%;
  .ng-scope {
    th {
      text-align: left;
    }
  }

  .config-input-th {
    max-width: 100px;
  }
}

.no-value {
  background-color: rgba(222,94,93, 0.2) !important;
}

.navigation-details {
  float: right;
  display: inline;

  > span {
    background-color: #DBDBDB;
    padding: 1px 5px 1px 5px;
    border-radius: 3px;
  }
}

.config-switch-btn {
  position: absolute;
  top: $qor-header-height + 10;
  right: 20px;
}

.add-config-button {
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.save-config-button {
  margin-top: -4px;
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.save-auth-button {
  margin-top: -4px;
  position: absolute;
  bottom: 10px;
  right: 30px;
}

.config-table-th {
  > .version-select {
    float: right;
  }

  margin-top: 5px;
  text-align: center;
}

.table-fixed-header {
  position: absolute;
  left: $qor-sheet-padding-vertical;
  top: $qor-sheet-header-height;
  z-index: 2;
  background-color: #cccccc;
  color: #ffffff;
  th {
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
}

.file-save-button {
  position: absolute;
  right: 40px;
  z-index: 9;
  padding: 7px;
  font-size: 20px;
  cursor: pointer;
}

.orchestration-parameters {
  > fieldset {
    > .form-group {
      margin-bottom: 7px;

      > div > input[type="checkbox"] {
        display: none;

        + label {
          margin: 6px 0 6px 0;
          display: inline-block;
          width: 19px;
          height: 19px;
          vertical-align: middle;
          background: url(../assets/images/checkboxes.png) left top no-repeat;
          cursor: pointer;
        }

        &:checked + label {
          background: url(../assets/images/checkboxes.png) -19px top no-repeat;
        }
      }
    }
  }
}

.preloader-container {
  text-align: center;

  > img {
    margin-top: $line-height-computed;
    width: 50px;
    height: 50px;
  }
}

#env-loader {
  text-align: center;
}

.orchestrate-history-table {
  width: 100%;

  > thead {
    background-color: white;
    border-bottom: 3px solid $qor-sheet-bg;

    > tr {
      > th {
        padding: 3px;
        text-align: center;

        &.p15 {
          width: 15%;
        }

        &.p20 {
          width: 20%;
        }

        &.p10 {
          width: 10%;
        }
      }
    }
  }

  > tbody {
    > tr {
      background-color: white;
      border-bottom: 3px solid $qor-sheet-bg;

      cursor: pointer;

      &:hover {
        background-color: #f4f4f4;
      }

      &.active {
        background-color: #e3e3e3;
      }

      >td {
        padding: 7px 3px 7px 3px;
        text-align: center;
      }
    }
  }
}

.history-table-icon-item {
  text-align: center;

  >span {
//    height: 22px;
//    width: 22px;
//    border-radius: 22px;
//
//    color: white;
width: 20px;
    height: 20px;
    &.error {
      color: #EF5350;
    }

    &::before {
      position: relative;
      top: 3px;
      left: 1px;
      font-size: 22px;
    }

    &.success {
      color: #9CCC65;
    }

    &.warning {
      color: #F0AD54;
    }
  }
}

.orchestrate-history-button {
  padding: 5px;

  background-color: #B3B3B3;

  &.active {
    background-color: #F0AD54;
  }
}

.orchestrate-run-new-button {
  float: right;
  margin-bottom: 10px;
}

.align-text-right {
  text-align: right;
}

.li-active {
  background-color: #e3e3e3;
}

.config-table-header-button {
  width: auto;
  background-color: white;
  color: #555;
  min-width: 150px;

  >.fa{
    color: #CDCDCD;
  }

  .label {
    margin-top: 2px;
  }

  .fa-angle-down {
    margin-top: 1px;
    font-size: $font-size-large;
  }
}

.dropdown-menu {
  margin-top: 10px;
  width: 200px;
}

.new-checkbox {
  display: none;

  + label {
    margin: 6px 0 6px 0;
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    background: url(../assets/images/checkboxes.png) left top no-repeat;
    cursor: pointer;
  }

  &.bordered + label {
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    margin: 0 10px 0 0;
  }

  &:checked + label {
    background: url(../assets/images/checkboxes.png) -19px top no-repeat;
  }
}

.instances-table {
  width: 100%;

  >tbody >tr {
    border-bottom: 1px solid #e3e3e3;
  }
}

.accounts-list-user-icon {
  padding-right: 7px;
  color: #9B9EAA;
  font-size: 15px;
}

.config-instances-button {
  margin-top: 15px;
  float: right;
}

.copy-version {
  cursor: pointer;
  position: relative;
  right: -6px;
  font-size: 20px;
  top: 4px;
}

.config-modal-devider {
  heigth: 33px;
  padding-top: 7px;
}

.files-editor-active-button {
  box-shadow: 0 0 5px #30C145;
}


.textdiff {
  background-color: white;
}

.match, .textdiff span {
  color: gray;
}

.ins, ins {
  color: black;
  background: #bbffbb;
}

.del, del {
  color: black;
  background: #ffbbbb;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.file-content {
  textarea.form-control {
    height: calc(100vh - #{$navbar-height} - 100px);
  }

  .btn-toolbar {
    margin-top: -33px;
  }
}

.qor-sheet-content .dropdown-menu {
  max-height: calc(100vh - #{$navbar-height} - 160px);
  overflow: auto;
}


.set-live-button {
  margin-left: 10px;
  padding: 5px;
  box-shadow: 0 0 1px black;
  cursor: pointer;

  &.loading {
    opacity: 0.5;
    cursor: default;
  }
}

.user-info-titles {
  >p {
    color: #464C64;
    font-weight: 600;
  }
}

.add-new-account-button {
  margin-bottom: 10px;
}

.popover {
  background-color: #ffffff;
  box-shadow: 0 0 20px #dedede;

  >.arrow {
    border-bottom-color: #FFFFFF !important;
    color: #FFFFFF !important;

    &:after {
      border-bottom-color: #FFFFFF !important;
      color: #FFFFFF !important;
    }
  }

  >.popover-title {
    background-color: #ffffff;

    font-weight: 600;
    color: #C1C1C1;
  }

  >.popover-content>.row {
      margin-top: 15px;
      >div>button {
        padding: 5px;
      }
  }
}

.containers-table {
  background-color: #FFFFFF;

  margin-top: 15px;

  >thead>tr>th {
    color: #939598;
    font-weight: 400;
  }

  >tbody>tr>.center-text {
    text-align: center;
  }

  >tbody>tr>td {
    border-top: 1px solid #f0f0f0;
  }
}

.images-table {
  background-color: #FFFFFF;

  margin-top: 15px;

  >thead>tr>th {
    color: #939598;
    font-weight: 400;
  }

  >tbody>tr>.center-text {
    text-align: center;
  }

  >tbody>tr>td {
    border-top: 1px solid #f0f0f0;
  }
}

.centered-text {
  text-align: center;
}

.containers-form {
  >p {
    display: inline;
    padding-top: 5px;
    margin-left: -5px;
    margin-right: 20px;
    font-weight: 400;
    color: #757679;
  }
  >.form-control {
    width: 150px;
    display: inline-block;
    margin-left: 5px;
    background-color: #EDEDED;

    &:focus {
      background-color: #FFFFFF;
    }
  }
}

.container-label {
  &.label-success {
    background-color: #77BB42;
  }
}

.reload-button {
  font-size: 60px;
  position:absolute;
  left:47%;
  color: #ECAA57;
}

.container-details {
  >.name>h4>button {
    background-color: #8D93A1;
    border-color: #8D93A1;
    margin-left: 10px;
    height: 30px;
    line-height: 15px;
  }

  >#name-edit>h4>button {
    height: 30px;
    line-height: 15px;
    margin-top: -5px;
    &.btn-success {
      background-color: #7CB342;
      border-color: #7CB342;
    }
    &.btn-danger {
      background-color: #D9534F;
      border-color: #D9534F;
    }
  }

  >#actions>button {
    margin-bottom: 5px;
    height: 30px;
    line-height: 15px;
    &.btn-success {
      background-color: #7CB342;
      border-color: #7CB342;
    }
    &.btn-warning {
      background-color: #ECAA57;
      border-color: #ECAA57;
    }
    &.btn-danger {
      background-color: #D9534F;
      border-color: #D9534F;
    }
    &.btn-info {
      background-color: #6A78B1;
      border-color: #6A78B1;
    }
    &.btn-primary {
      background-color: #464C64;
      border-color: #464C64;
    }
  }

  >table {
    background-color: #FFFFFF;
    width: calc((100vw - #{$qor-sidebar-width}) / 2) - 1px;
    table-layout: fixed;
    >tbody>tr>td {
      &:nth-child(1) {
        width: 20%;
        font-weight: 400;
      }
      &:nth-child(2) {
        word-wrap: break-word;
      }

      border-top: 1px solid #f0f0f0;
    }
  }
}

.btn-remove-container {
  background-color: #D9534F;
  border-color: #D9534F;
  color: #FFFFFF;
  float: right;
}

#pull-image {
  margin-left: 10px;
}

.docker-info-small {
  font-size: 20px;

  >tbody>tr>td:first-child {
    font-weight: 600;
  }
}

.docker-info-table {
  margin-top: 20px;
}

.changes-container {
  display: flex;
  >div {
    &:first-child {
      width: 20%;
      float: left;
      padding-left: 5px;
      font-weight: 400;
    }

    &:nth-child(2) {
      width: 80%;
      float: right;
      background-color: #FFFFFF;
      padding-top: 10px;
    }

    margin-bottom: 10px;
  }
}

.log-btns {
  margin-left: 20px;

  >button {
    height: 30px;
    line-height: 15px;
  }
}

.qor-btn-success {
  background-color: #7CB342;
  border-color: #7CB342;
  color: #FFFFFF;
}
.qor-btn-warning {
  background-color: #ECAA57;
  border-color: #ECAA57;
  color: #FFFFFF;
}
.qor-btn-danger {
  background-color: #D9534F;
  border-color: #D9534F;
  color: #FFFFFF;
}
.qor-btn-info {
  background-color: #6A78B1;
  border-color: #6A78B1;
  color: #FFFFFF;
}
.qor-btn-primary {
  background-color: #464C64;
  border-color: #464C64;
  color: #FFFFFF;
}

.reload-logs {
  margin: 20px 30px 0 0;
  >div {
    &:first-child {
      >a {
        height: 30px;
        border-radius: 1px;
        line-height: 15px;
      }
      >#tailLines {
        background-color: #EDEDED;
        border: 1px solid #AEAEAE;
        width: 60px;
        height: 28px;
        &:focus {
          background-color: #FFFFFF;
        }
      }

      >label:last-child {
        margin-left: 20px;
      }
    }
  }
}

.logs-panel {
  margin-top: 20px;
  >.panel-heading {
    background-color: #F0F0F0;
    margin-bottom: -10px;
  }
}

.docker-logs-left {
  margin: 20px 0 0 30px;
  float: left;
}

.new-file-button {
  position: absolute;
  bottom: 10px;
  >button {
    width: 427px;
  }
}

#new_file_content {
  height: 400px;
}

.legend .title {
  padding: 0 0.3em;
  margin: 0.5em;
  border-style: solid;
  border-width: 0 0 0 1em;
}

.containers-list {
  >li {
    list-style-type: none;
    background-color: white;
    padding: 4px 0 4px 0;
    margin-bottom: 2px;

    >span {
      margin-left: 25px;
    }
  }
}

.containers-stat {
  margin-top: 30px;
}


.auth-table {

  >tbody>tr>td {
    background: none;
  }

  tbody>tr>td {
    vertical-align: middle;
    padding: 0;
    box-shadow: 0 0 0 1px #F0F0F0 inset;
    border: none;
    min-width: $table-cell-width;
    width: $table-cell-width;
    text-align: center;
    height: $table-cell-height;
  }

  .fa {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
  }
}

.td-plus:hover {
  background: #ebeff1 !important;
  cursor: pointer;
}
