<section horizontal-ui-sheet class="qor-sheet-full">
    <header horizontal-ui-sheet-header title="{{domain.name}} > {{service.service}}">
    </header>
    <div horizontal-ui-sheet-content>
        <div class="container-select">
            <select>
                <option ng-repeat="environment in service.instances" value="{{environment}}">{{environment}}</option>
            </select>
        </div>
        <div class="container-select">
            <select>
                <option ng-repeat="version in service.versions" value="{{version}}">{{version}}</option>
            </select>
        </div>

        <div add-value style="display: inline; margin-left: 10px;"></div>


        <div class="editor-content">
            <div class="loading" ng-if="!values">Loading...</div>
            <div class="filled-content" ng-if="values">
                <h3 class="config-table-header">Values</h3>
                <table class="table table-bordered config-table">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in values">
                            <th>{{value.name}}</th>
                            <th inline-edit="value.value" key="value.name" on-save="updateValues(value, pValue)" on-delete="deleteValue(name)"></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="inlineEdit.html">
        <input type="text" on-enter="save()" on-esc="cancel()" ng-model="model" ng-show="editMode" class="config-input-edit">
        <span ng-click="save()" ng-show="editMode" class="config-table-action-btn fa fa-check"></span>
        <span ng-hide="editMode">{{model}}</span><div class="config-table-actions"><span ng-class="{'active': editMode}" class="fa fa-pencil config-table-action-btn" ng-click="edit()"></span><span ng-click="remove(key)" class="fa fa-remove config-table-action-btn"> </span></div>
    </script>

    <script type="text/ng-template" id="addNewValue.html">
        <button class="btn qor-btn-primary add-config-button" ng-click="addValue()" >Add new</button>
    </script>
</section>