<section horizontal-ui-sheet class="qor-sheet-full">
    <header horizontal-ui-sheet-header title="{{domain.name}} > {{service.service}}">
    </header>
    <div horizontal-ui-sheet-content>
        <button ui-sref="app.configurations.services.editor.files" class="btn qor-btn-primary config-switch-btn">Configuration Files</button>

        <div class="editor-content">
            <div class="loading" ng-if="!values">Loading...</div>
            <div class="filled-content" ng-if="values">
                <h3 class="config-table-header">Environment Variables</h3>
                <table class="table table-bordered config-table" ng-hide="values.length == 0">
                    <thead>
                        <tr>
                            <th><h4 align="center">Key</h4></th>
                            <th ng-repeat="instance in service.instances" class="config-table-th" >
                                <h4>{{instance}}</h4>
                                <div class="btn-group version-select" role="group" aria-label="...">
                                    <button ng-repeat="version in service.versions" type="button" class="btn btn-default" ng-click="changeSelectedVersion(instance, version); "
                                            ng-class="{'active': selectedVersion[instance] == version}">{{version}} <span class="label label-success" ng-show="isLive(instance, version)">Live</span></button>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="value in values">
                            <th inline-edit="value.name" is-name="true" on-save="updateName(oldName, newName)">{{value.name}}</th>
                            <th ng-repeat="instance in service.instances" parent="value[instance]" key="value.name" instance="instance" version="selectedVersion[instance]" inline-edit="value[instance][selectedVersion[instance]]['value']" on-save="updateValues(name, newValue, instance, selectedVersion[instance], xDashVersion)"></th>
                            <th><div class="config-table-actions"><span ng-click="deleteValue(value.name)" class="fa fa-remove config-table-action-btn"> </span></div></th>
                        </tr>
                    </tbody>
                </table>
                <div id="env-loader" ng-show="values.length == 0">
                     <img src="../assets/images/cube.gif">
                </div>
            </div>
            <button class="btn qor-btn-primary save-config-button" id="env-save-button" ng-click="save()" ng-hide="values.length == 0">Save</button>
            <button class="btn qor-btn-primary add-config-button" ng-click="addValue()" ng-hide="values.length == 0">Add new</button>
        </div>
    </div>

    <script type="text/ng-template" id="inlineEdit.html">
        <input type="text" on-enter="save()" on-esc="cancel()" ng-model="model" ng-show="editMode" class="config-input-edit">
        <span ng-click="save()" ng-show="editMode && isSaveAvailable()" class="config-table-action-btn fa fa-check"></span>
        <span ng-hide="editMode" ng-click="edit()">{{model}}</span>
    </script>

</section>