<section horizontal-ui-sheet class="qor-sheet-full">
  <header horizontal-ui-sheet-header title="{{domain.name}} > {{service}} > Configuraion Files > {{fileName}}">
  </header>
  <div horizontal-ui-sheet-content>
    <div class="btn-toolbar no-margin ml-n-xs">
      <div class="btn-group">
        <div dropdown dropdown-append-to-body class="dropdown">
          <button class="btn btn-default config-table-header-button" dropdown-toggle >
            {{selectedInstance ? selectedInstance : '- Choose instance -'}}<span class="fa fa-angle-down pull-right"></span>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="instance in instances track by $index" ng-class="{'active' : isInstanceActive(instance)}">
              <a ng-click="selectInstance(instance)">
                {{instance}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="btn-group">
        <div dropdown dropdown-append-to-body class="dropdown">
          <button class="btn btn-default config-table-header-button" dropdown-toggle ng-disabled="!selectedInstance">
            {{addNewVersionClicked ? '-Create new version-' : (selectedVersion ? selectedVersion : '- Choose version -')}}
            <span class="fa fa-angle-down pull-right"></span>
            <span class="label label-success pull-right mr-xs" ng-show="isVersionLive(selectedVersion)">Live</span>
          </button>
          <ul class="dropdown-menu">
              <li ng-click="clickAddNewVersion" ng-class="{'active' : addNewVersionClicked}">
                  <a ng-click="clickAddNewVersion()">-Create new version-</a>
              </li>
            <li ng-repeat="version in versions[selectedInstance]" ng-class="{'active' : isVersionActive(version)}">
              <a ng-click="selectVersion(version)">
                {{version}}
                <span class="label label-success pull-right" ng-show="isVersionLive(version)">Live</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <form ng-submit="saveFile()" class="file-content" ng-init="contentsChanged = false">
      <div class="btn-toolbar pull-right">
          <button class="btn btn-success mr-xs" ng-show="!isVersionLive(selectedVersion) && selectedInstance && selectedVersion && !addNewVersionClicked"
                  mwl-confirm
                  title="Are you sure?"
                  message="Make {{selectedVersion}} live for {{selectedInstance}}"
                  confirm-text="Yes"
                  cancel-text="No"
                  placement="bottom"
                  on-confirm="makeLive(selectedInstance, selectedVersion)"
                  type="button">Set live</button>
        <button class="btn btn-danger mr-xs" ng-disabled="!(fileContents && contentsChanged || addNewVersionClicked)" type="submit">Save</button>
        <button class="btn btn-default mr-n-xs" ng-disabled="!fileContents"
                type="button" ng-click="cloneFile()">Clone <i class="fa fa-clone ml-xs"></i></button>
        <a class="btn btn-default mr-xs" ng-disabled="!fileContents"
           ui-sref=".diff">
          Diff <i class="fa fa-exchange ml-xs"></i>
        </a>
        <button class="btn btn-default" ng-disabled="!fileContents"
                type="button" ng-click="deleteFile()">Delete <i class="fa fa-trash-o ml-xs"></i></button>
      </div>
      <textarea class="form-control" ng-model="fileContents" ng-show="fileContents" ng-change="contentsChanged = true"></textarea>
    </form>
  </div>
</section>
