<div id="events">
    <ul class="timeline" style="padding: 0px; margin-bottom: 0px;" ng-controller="EventsController">
        <li class="on-left" ng-repeat="event in events" id="{{::event.id | limitTo:7}}">
            <time class="event-time" datetime="{{::event.timestamp}}">
                <span class="date">{{::event.timestamp * 1000 | date: 'EEE'}}</span>
                <span class="time">{{::event.timestamp * 1000 | date: 'shortTime'}}</span>
            </time>
            <section class="event event-padding">
                <h4 class="event-heading"><a ng-click="showDetails(event)">{{event.title}}</a></h4>

                <p class="fs-sm text-muted">{{::event.timestamp * 1000 | date:'EEEE, MMMM d, y HH:mm:ss'}}</p>

                <p class="fs-mini">
                    {{::event.description}}
                </p>
            </section>
        </li>
    </ul>
</div>