<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <img src="{{vm.ICON_URL}}" class="login-logo" width="250">
                    </header>
                    <div class="widget-body">
                        <form class="login-form mt-lg" ng-submit="vm.login()">
                            <p class="error-message" ng-show="vm.errorMessage">{{vm.errorMessage}}</p>

                            <div class="form-group has-feedback" ng-class="{'has-error' : vm.errorMessage}">
                                <input type="text" class="form-control" id="inputUserNme"
                                       ng-model="vm.userCredentials.login" placeholder="Username" required="required">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback small-margin" ng-class="{'has-error' : vm.errorMessage}">
                                <input class="form-control" id="inputPassword" type="password" placeholder="Password"
                                       ng-model="vm.userCredentials.password" required="required">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar login-toolbar pull-right">
                                    <button class="btn btn-inverse btn-sm btn-login" id="loginButton"
                                            data-loading-text="Loading..." button-loading="vm.loginButtonLoadingState" type="submit">Log In
                                    </button>
                                    <a id="google-signin" g-signin data-client-id="138766960114-ikj7ignimooj54qabses3cc857l1a8h4.apps.googleusercontent.com"
                                       class="btn btn-block btn-social btn-google btn-default btn-sm btn-signup g-signin2">
                                        <i class="fa fa-google"></i>Sign in with Google
                                    </a>
                                </div>
                            </div>
                            <div class="row widget-login-footer">
                                <div class="col-sm-6 col-sm-push-6">
                                    <div class="clearfix">
                                        <div class="checkbox widget-login-info pull-right ml-n-lg">
                                            <input type="checkbox" id="checkbox1" value="1">
                                            <label for="checkbox1">Keep me signed in </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-sm-pull-6">
                                    <a class="mr-n-lg login-trouble" href="#">Trouble with account?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="login-page-footer text-center">
                        2015 &copy; {{app.title}}
                    </div>
                </section>
            </div>
        </div>
    </main>
</div>