<section horizontal-ui-sheet class="qor-sheet-s">
    <header horizontal-ui-sheet-header title="Instances">
    </header>
    <div horizontal-ui-sheet-content>

        <table class="instances-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="instance in instances | orderBy:''">
                    <td>{{instance}}</td>
                    <td><input ng-click="changeState(checked[instance])" class="new-checkbox" id="input-{{instance}}" name="input-{{instance}}" ng-model="checked[instance]" type="checkbox"><label class="pull-right" for="input-{{instance}}"></label></td>
                </tr>
            </tbody>
        </table>

        <button ng-show="saveAvailableHelper > 0" type="button" ng-click="show()" id="sendMessageButton" class="btn btn-warning config-instances-button">
            Show
        </button>

        <div id="env-loader" ng-hide="services">
            <img src="assets/images/cube.gif">
        </div>
    </div>
</section>
